<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="2" value="EAAAABw4OYdaDyn/pKPOwivZ5ILE689809HjNm0bQgtdZyavqm4Fo7IpRL13xdTEhIacK1nK00dDV/oqmMREupyJ5UCEXONlpBJqJQhmsnUhkvVzBq+1bBxDSVvzYCwdxnhw43QC3J7cZRMCIDKHLx/2DvFs5b05I0tIcWqxi971HZ8i"/>
    <add key="CurrentDatabase" value="EAAAAJvtpU8qw6ydMWWr1TySjRxhN8mVdiFwpOGkvwkqfIk1"/>
    <add key="Config" value="EAAAANtT98JVU1uUNkJjBzSDb3z1liiJp97RvFbb2PinnNhjpCeoWbmp7776n0T1PRCohcpxoYhOXJziF7aHrsD7b5HSet01eCuy/gXV8W0yMaCuRM1Kvu5NbF+KDgEYS4F4fpiHDLfGvGnoyEfTN1MbviW+C90cgdofNV7v+EqyGJDw"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceLicence" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mytoolsr2.somee.com/ServiceLicence.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLicence"
        contract="ServiceReferenceLicence.IServiceLicence" name="BasicHttpBinding_IServiceLicence" />
    </client>

  </system.serviceModel>
</configuration>
